*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Montserrat:wght@500;600&family=Open+Sans:ital,wght@1,300&display=swap');
body{
    background-color: #eff0f5;
}
.upper-navbar-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 5px;
    background-color: #ececec;

}
.upper-navbar-items li{
    list-style: none;
}
.upper-navbar-items li a{
    text-decoration: none;
}
.search-bar{
    display: flex;
    align-items: center;
}
.search-bar input{
    height: 50px;
    border: none;
    width: 600px;
    font-size: 20px;
    padding-left: 50px;
}
.logo-navbar{
    height: 50px;
}
.second-navbar{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}

.nav-permossion{
    width: 40%;
}

.lens{
    height: 50px;
    width: 80px;
}
.third-navbar{
    margin: auto;
    width: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
    gap: 40px;
}
.third-navbar ul{
    background-color: white;
    padding: 10px;
}
.third-navbar ul li{
    list-style: none;
    padding: 4px;
}
.third-navbar img {
    height: 300px;
    max-width: 800px;

}




.fourth-navbar{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 70%;
    gap: 20px;
    
}
.card-navbar{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    width: 220px;
    border-radius: 20px;
}
.card-navbar p{
    font-size: 18px;
}
.fourth-navbar .card-navbar img{
    width: 50px;
}











/* main design start */
.container{
    margin-top: 10px;
    width: 70%;
    margin: auto;
    box-sizing: border-box;
    overflow-x: hidden;
}
.card{
    max-width: 250px;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    gap: 10px;

}

.card h6{
    color: purple;
    padding-left:10px ;
    font-size: 15px;
}
.card h1{
    color: #f85606;
    font-size: 18px;
    padding-left:10px ;
    
}
.card span{
    font-size: 15px;
    
    padding-left:10px ;
}


.main-block-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
    margin: 10px;
    
}


.card-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    background-color: white;
    padding: 10px;
}
.card-2 img{
    object-fit: cover;
    width: 100%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    
}

.main-block-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
    margin: 40px;
    
}

.tag-main{
    padding-left:70px ;
    margin-top: 20px;
}



.main-block-3{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
.card-3 img{
    width: 100px;
}
.card-3{
    display: flex;
    flex-direction: column;
    justify-content: centers;
    align-items: center;
    width: 150px;
    background-color: #ffffff;
    padding: 5px;
    transform:scale(1);
    transition: transform 0.5s;
}
.card-3:hover{
    transform:scale(1.05);
}
.card-3 p{
    text-align: center;
}
.checked {
    color: orange !important;
}


.main-block-4{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;flex-wrap: wrap;
    gap: 80px;
    
}
.card-4{
    width: 180px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 8px;
    transform: scale(1);
    transition: transform 0.5s;
}
.card-4:hover{
    transform: scale(1.03);

}
.card-4 p{
    font-size: 15px;
    font-family: 'IBM Plex Sans', sans-serif;

}
.card-4 h1{
    font-size: 18px;
    color: #f85606;
}
.card-4 img{
    width: 250px;
}


.main-block-5{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.main-block-5 .btn{
    color: #f85606;
    width: 500px;
    text-align: center;
    padding: 10px;
    border: 2px solid #f85606;
}

/* main design end  */


/* footer work starts  */

footer{
    margin-top: 20px;
    
}
.footer-1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2e2e54;
    gap: 100px;
    flex-wrap: wrap;
}

.footer-content-1{
    display: flex;
    flex-direction: column;
    color: white;
}
.footer-content-1 div{
    display: flex;
    flex-direction: column;
    color: white;
    gap: 3px;
}
.footer-content-1 div a{
    color: white;
    text-decoration: none
    
    ;
}
.footer-content-2{
    display: flex;
    flex-direction: column;
    gap: 3px;
    color: white;
}
.footer-content-2 a{
    text-decoration: none;
    color: white;
}
.footer-content-3 div{
    display: flex;
    gap: 20px;
}
.footer-content-3 div img{
    width: 100px;
}
.footer-3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 100px;
}
.footer-3 div{
    width: 300px;
}
.footer-3 div h5{
    font-size: 20px;
}
.footer-3 div p{
    font-size: 15px;
}
.payment-card div img{
    width: 50px;
}
.footer-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 100px;
    padding: 30px;
    background-color: white;

}
.payment-card h3{
    font-size: 25px;
    color: #f85606;
}
.payment-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
.payment-card div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
/* footer work ends  */